:root {
  --navbar-height: 100px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  max-height: var(--navbar-height);
  z-index: 1;
  background-color: white;
}

#nav-logo {
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: var(--navbar-height);
}

.section {
  display: flex;
  align-items: center;
}

#header-section {
  height: 500px;
  overflow: hidden;
  background: center / cover url("/assets/thumb1.jpg");
  filter: blur(6px);
}

#content-section {
  height: 10000px;
}
