@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}

:root {
  --navbar-height: 100px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: "Ubuntu";
  font-weight: 300;
}

#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: calc(var(--navbar-height));
  background-color: white;
}

#navbar-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

#nav-logo-container {
  width: 150px;
}

#nav-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: var(--navbar-height);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#header-section {
  height: 500px;
  overflow: hidden;
}

#header-bg {
  width: 100%;
  height: 500px;
  background: top / cover url("../assets/thumb1.jpg");
  filter: brightness(0.6) blur(6px);
  transform: scale(1.02);
}

#header-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  padding: 75px;
}

#header-content span {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  color: white;
  text-shadow: black 0 0 20px;
}

#content-section {
  height: 10000px;
}
